annotations
.venv
*.pyc
.vscode/
.*.swp
.github
frames
vjepa_features
vjepa_features_tb5
vjepa_feats
vjepa_vis
vjepa_ckpt
run_vjepa_aws.py
run.py
main_distributed_video.py
main_video.py
cached_features/
temp_heatmap_img/
wandb/
app/vjepa/configs/temp_aws
app/main_dev.py
app/main_distributed_dev.py
evals/ava/alphaction/data
attention_heatmaps_tb5_5th
run_evals.py
run_evals_v2.py
run_pretrain.py

*.egg-info/
*.ipynb_checkpoints/

traces/
third_party/*

evals/simu_env_planning/local/
evals/simu_env_planning/docker2/
evals/simu_env_planning/docker/
app/vjepa_droid/local/
app/vjepa_droid_v2/local/
app/vjepa_droid_v3/local/
app/vjepa_droid_v4/local/
configs/local