visualization
annotations
.venv
__pycache__
*.pyc
*.pt
.pkl
*.npy
.vscode/
.*.swp
.github
frames
vjepa_features
vjepa_features_tb5
vjepa_feats
vjepa_vis
vjepa_ckpt
run_vjepa_aws.py
run.py
main_distributed_video.py
main_video.py
cached_features/
temp_heatmap_img/
wandb/
app/vjepa/configs/temp_aws
app/main_dev.py
app/main_distributed_dev.py
evals/ava/alphaction/data
attention_heatmaps_tb5_5th
run_evals.py
run_evals_v2.py
run_pretrain.py

*.egg-info/
*.ipynb_checkpoints/
traces/
third_party/*

evals/simu_env_planning/local/
evals/simu_env_planning/docker2/
evals/simu_env_planning/docker/
app/vjepa_droid/local/
app/vjepa_droid_v2/local/
app/vjepa_droid_v3/local/
app/vjepa_droid_v4/local/
configs/local

vjepa_dota
vjepa_attention_heatmaps
visualization/
DOTA_training
attention_clean_tb5
attention_heatmaps_refined_new
attention_heatmaps_tb5_refined
attention_clean_tb5
attention_heatmaps_refined_new
attention_heatmaps_tb5_refined
attention_heatmaps_tb5_refined_relative
attention_heatmaps_tb5_temporal
attention_visualizations_mc
attention_viz_clean_mc
cached_features_tb5
cached_features_tb5_new
checkpoints_maxpool
build_probe_dataset.py
build_vjepa_mc_cache.py
train_linear_probe_attn.py
train_all_blocks.py
train_linear_probe_max.py
train_probe_attn_mc.py
visualize_heatmap.py
visualize_feats.py
visualize_difference_heatmaps.py
visualize_attributions.py
visualize_activations.py
visualize_attention_mc.py
visualize_attention_mc_new.py
visualize_attention_heatmap.py
heatmaps_binary1
heatmaps_binary112211
heatmaps_binary